html, body {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#navbar {
    height: 5vh;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
    color: white;
    z-index: 9999;
    letter-spacing: 3px;
    display: table;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
}

.opacity {
    background: rgba(255, 255, 255, 0.4);
    height: 5vh;
    color: black;
}

.color:hover {
    background: rgba(0, 0, 0, 0.4) !important;
    color: white !important;
}

.navp, .owl {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    z-index: 999;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
}

.navp:hover {
    background: rgba(255, 255, 255, 0.3);
    color: black;
}

.owl {
    text-align: center;
}

.owl img {
    height: 5vh;
    vertical-align: middle;
    object-fit: contain;
}

.owl, .navp {
    transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
}

.owl:hover img {
    animation: wobble 0.5s ease-in;
    -webkit-animation: wobble 0.5s ease-in;
    -o-animation: wobble 0.5s ease-in;
    -moz-animation: wobble 0.5s ease-in;
    -ms-animation: wobble 0.5s ease-in;
}

.section {
    height: 110vh;
    width: 100vw;
    position: relative;
    display: block;
    box-sizing: border-box;
}

#opening {
    background: radial-gradient(ellipse at bottom, #151C42 0%, black 100%);
    overflow: hidden;
    color: white;
}

#greeting {
    margin: auto;
    position: absolute;
    z-index: 4;
    top: 40%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

#welcome {
    position: relative;
    font-size: 60px;
    letter-spacing: 20px;
    padding-bottom: 10px;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: rgba(255,255,255,0.5) 1px solid;
}

#desc {
    position: relative;
    display: block;
    padding: 2em;
}

#find {
    position: relative;
    padding: 2em;
    animation: flash 1s ease-in-out infinite;
}

#find:hover {
    cursor: pointer;
}

.clouds {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 3;
    background: transparent url("../img/clouds.png") repeat top center;
    animation: moveclouds 50s linear infinite;
    -webkit-animation: moveclouds 50s linear infinite;
    -moz-animation: moveclouds 50s linear infinite;
    -o-animation: moveclouds 50s linear infinite;
    -ms-animation: moveclouds 50s linear infinite;
}

.stars {
    position: absolute;
    overflow: hidden;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px white;
    background-color: white;
    top: 0;
    
}

.s1 {
    left: 10%;
    animation: movestars 3s linear infinite;
}

.s2 {
    left: 30%;
    animation: movestars 4s linear infinite;
}

.s3 {
    left: 70%;
    animation: movestars 6s linear infinite;
}

.s4 {
    left: 50%;
    animation: movestars 3.5s linear infinite;
}

.s5 {
    left: -10%;
    animation: movestars 5s linear infinite;
}

#about {
    background-color: whitesmoke;
    overflow: hidden;
}

#aleft {
    float: left;
    position: relative;
    vertical-align: middle;
    height: 100%;
    width: 40vw;
}

#aleft img {
    position: absolute;
    display: block;
    z-index: 2;
    height: 90%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 2px 2px 10px black;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

#aright {
    float: right;
    position: absolute;
    vertical-align: middle;
    overflow: hidden;
    background: white;
    box-shadow: 2px 2px 10px black;
    text-align: center;
    height: 70%;
    width: 60vw;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 30%;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#aright h1 {
    padding-bottom: 10px;
    font-family: 'Indie Flower', cursive;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#aright div {
    text-align: justify;
}

#aright div p {
    padding-bottom: 10px;
    padding-left: 5px;
}

#skills {
    background: whitesmoke;
    padding: 2em;
    text-align: center;
    overflow: hidden;
}

.third {
    height: 100%;
    width: 30%;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

.third ul {
    padding: 2em;
    list-style: none;
}

.pad li {
    padding: 10px;
    font-weight: bold;
}

.wrapper {
    height: 90%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.third:first-child {
    border-right: 1px solid rgba(0,0,0,0.5);
}

.third:last-child {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.third:last-child ul {
    padding: 0;
}

#code:hover {
    animation: bounce 0.75s ease-in-out infinite;
}

#cog:hover {
    animation: spin 0.75s ease-in-out infinite;
}

#desktop:hover {
    animation: flash 0.75s ease-in-out infinite;
}

#projects {
    background: radial-gradient(ellipse at top, #2A2F49 0%, #03092B 100%);
}

#projects .section h1 {
    padding: 2em;
    text-align: center;
    color: white;
    letter-spacing: 10px;
}

.rotate5 {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}

#contact {
    height: 100px;
    background-color: aqua;
}

/* KEYFRAMES HERE */
@keyframes wobble {
    0% {
        transform: rotate(10deg);
    } 
    
    50% {
        transform: rotate(-10deg);
    }
    
    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes wobble {
    0% {
        transform: rotate(10deg);
    } 
    
    50% {
        transform: rotate(-10deg);
    }
    
    100% {
        transform: rotate(0deg);
    }
}

@-moz-keyframes wobble {
    0% {
        transform: rotate(10deg);
    } 
    
    50% {
        transform: rotate(-10deg);
    }
    
    100% {
        transform: rotate(0deg);
    }
}

@-o-keyframes wobble {
    0% {
        transform: rotate(10deg);
    } 
    
    50% {
        transform: rotate(-10deg);
    }
    
    100% {
        transform: rotate(0deg);
    }
}

@-ms-keyframes wobble {
    0% {
        transform: rotate(10deg);
    } 
    
    50% {
        transform: rotate(-10deg);
    }
    
    100% {
        transform: rotate(0deg);
    }
}

@keyframes moveclouds {
    from {
        background-position: 0 0;
    } to {
        background-position: 5000px 0;
    }
}

@-webkit-keyframes moveclouds {
    from {
        background-position: 0 0;
    } to {
        background-position: 5000px 0;
    }
}

@-moz-keyframes moveclouds {
    from {
        background-position: 0 0;
    } to {
        background-position: 5000px 0;
    }
}

@-o-keyframes moveclouds {
    from {
        background-position: 0 0;
    } to {
        background-position: 5000px 0;
    }
}

@-ms-keyframes moveclouds {
    from {
        background-position: 0 0;
    } to {
        background-position: 5000px 0;
    }
}

@keyframes movestars {
    0% {
        transform: translateX(0);
    }
    100% {
        top: 99%;
        transform: translateX(25vw);
    }
}

@-webkit-keyframes movestars {
    0% {
        transform: translateX(0);
    }
    100% {
        top: 99%;
        transform: translateX(25vw);
    }
}

@-o-keyframes movestars {
    0% {
        transform: translateX(0);
    }
    100% {
        top: 99%;
        transform: translateX(25vw);
    }
}

@-moz-keyframes movestars {
    0% {
        transform: translateX(0);
    }
    100% {
        top: 99%;
        transform: translateX(25vw);
    }
}

@-ms-keyframes movestars {
    0% {
        transform: translateX(0);
    }
    100% {
        top: 99%;
        transform: translateX(25vw);
    }
}

@keyframes flash {
    0% {
        color: rgba(255, 255, 255, 1);
    } 100% {
        color: rgba(255, 255, 255, 0.5);
    }
}

@-webkit-keyframes flash {
    0% {
        color: rgba(255, 255, 255, 1);
    } 100% {
        color: rgba(255, 255, 255, 0.5);
    }
}

@-moz-keyframes flash {
    0% {
        color: rgba(255, 255, 255, 1);
    } 100% {
        color: rgba(255, 255, 255, 0.5);
    }
}

@-o-keyframes flash {
    0% {
        color: rgba(255, 255, 255, 1);
    } 100% {
        color: rgba(255, 255, 255, 0.5);
    }
}

@-ms-keyframes flash {
    0% {
        color: rgba(255, 255, 255, 1);
    } 100% {
        color: rgba(255, 255, 255, 0.5);
    }
}

@keyframes bounce {
    25% {
        transform: translateY(-10px);
    }
    
    50% {
        transform: translateY(0);
    }
    
    75% {
        transform: translateY(-5px);
    }
    
    100% {
        transform: translateY(0);
    }
}

@keyframes spin {
    100% {
        transform: rotate(90deg);
    }
}

@-webkit-keyframes spin {
    100% {
        transform: rotate(90deg);
    }
}

@-moz-keyframes spin {
    100% {
        transform: rotate(90deg);
    }
}

@-ms-keyframes spin {
    100% {
        transform: rotate(90deg);
    }
}

@-o-keyframes spin {
    100% {
        transform: rotate(90deg);
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    } 
    
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    } 
    
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes flash {
    0% {
        opacity: 1;
    } 
    
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes flash {
    0% {
        opacity: 1;
    } 
    
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes flash {
    0% {
        opacity: 1;
    } 
    
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
