html, body {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

/* NAVIGATION BAR */
#navbar {
    height: 5vh;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
    color: white;
    z-index: 9999;
    letter-spacing: 3px;
    display: table;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
}

.opacity {
    background: rgba(255, 255, 255, 0.4);
    color: black;
}

.color:hover {
    background: rgba(0, 0, 0, 0.4) !important;
    color: white !important;
}

.navp, .owl {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    z-index: 999;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
}

.navp:hover {
    background: rgba(255, 255, 255, 0.3);
    color: black;
}

.owl {
    text-align: center;
}

.owl img {
    height: 5vh;
    vertical-align: middle;
    object-fit: contain;
}

.owl, .navp {
    transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
}

.owl:hover img {
    animation: wobble 0.5s ease-in;
    -webkit-animation: wobble 0.5s ease-in;
    -o-animation: wobble 0.5s ease-in;
    -moz-animation: wobble 0.5s ease-in;
    -ms-animation: wobble 0.5s ease-in;
}

.section {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: block;
    box-sizing: border-box;
}

/* FIRST SECTION LANDING PAGE */
#opening {
    background: radial-gradient(ellipse at bottom, #151C42 0%, black 100%);
    background-attachment: fixed;
    overflow: hidden;
    color: white;
}

#greeting {
    margin: auto;
    position: absolute;
    z-index: 4;
    top: 40%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

#welcome {
    position: relative;
    font-size: 60px;
    letter-spacing: 20px;
    padding-bottom: 10px;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: rgba(255,255,255,0.5) 1px solid;
}

#desc {
    position: relative;
    display: block;
    padding: 2em;
}

#find {
    position: relative;
    padding: 2em;
    animation: flash 1s ease-in-out infinite;
}

#find:hover {
    cursor: pointer;
}

.clouds {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 3;
    background: transparent url("../img/clouds.png") repeat top center;
    animation: moveclouds 50s linear infinite;
    -webkit-animation: moveclouds 50s linear infinite;
    -moz-animation: moveclouds 50s linear infinite;
    -o-animation: moveclouds 50s linear infinite;
    -ms-animation: moveclouds 50s linear infinite;
}

.stars {
    position: absolute;
    overflow: hidden;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px white;
    background-color: white;
    top: 0;
    
}

.s1 {
    left: 10%;
    animation: movestars 3s linear infinite;
}

.s2 {
    left: 30%;
    animation: movestars 4s linear infinite;
}

.s3 {
    left: 70%;
    animation: movestars 6s linear infinite;
}

.s4 {
    left: 50%;
    animation: movestars 3.5s linear infinite;
}

.s5 {
    left: -10%;
    animation: movestars 5s linear infinite;
}

/* SECOND SECTION ABOUT ME */
#about {
    position: relative;
    background: whitesmoke;
    overflow: hidden;
    background-attachment: fixed;
}

#aleft {
    float: left;
    position: relative;
    height: 100%;
    width: 40vw;
    overflow: hidden;
}

#aleft img {
    display: block;
    position: absolute;
    height: 800px;
    width: auto;
    z-index: 2;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 2px 2px 10px black;
}

#aright {
    position: relative;
    z-index: 3;
    vertical-align: middle;
    overflow: hidden;
    background: transparent;
    text-align: center;
    height: 100%;
    width: 55vw;
    margin: auto;
}

#aright h1 {
    padding-bottom: 10px;
    font-family: 'Indie Flower', cursive;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#aright div {
    position: absolute;
    height: 400px;
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#aright div p {
    text-align: left;
    padding-bottom: 10px;
    padding-left: 10px;
}

/* THIRD SECTION SKILLS */

#skills {
    background: whitesmoke;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    text-align: center;
    overflow: hidden;
}

.container {
    position: absolute;
    margin: auto;
    height: 90%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.third {
    height: 100%;
    width: 30%;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

.third ul {
    padding: 2em;
    text-align: center;
    list-style: none;
}

.pad li {
    padding: 10px;
    font-weight: bold;
}

.wrapper {
    height: 75%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.wrapper h1 {
    position: relative;
    height: 40%;
}

.third:first-child {
    border-right: 1px solid rgba(0,0,0,0.5);
}

.third:last-child {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.third:last-child ul {
    padding: 0;
}

#code:hover {
    animation: bounce 0.75s ease-in-out infinite;
}

#cog:hover {
    animation: spin 0.75s ease-in-out infinite;
}

#desktop:hover {
    animation: flash 0.75s ease-in-out infinite;
}

/* FOURTH SECTION PROJECTS */
#projects {
    background: radial-gradient(ellipse at top, #323440 0%, #0D1022 100%);
    background-attachment: fixed;
}

#projects .section h1 {
    padding-top: 2em;
    text-align: center;
    color: white;
    position: relative;
    margin: 0;
    letter-spacing: 10px;
}

#programming:before {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 0;
    width: 50vw;
    background: black;
    left: 0;
    right: 0;
    margin: auto;
}

.quarters {
    position: absolute;
    margin: auto;
    height: 75%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pdiv, .wdiv {
    float: left;
    margin-right: 10px;
    position: relative;
    height: 100%;
    width: 20vw;
}

.plist,  .wlist{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 70%;
    width: 100%;
    color: white;
    margin: auto;
    padding: 0;
    list-style: none;
    display: table;
    vertical-align: middle;
}

.plist li, .wlist li {
    text-align: right;
    float: right;
    position: relative;
    float: right;
    width: 60%;
    vertical-align: middle;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 1em;
    letter-spacing: 5px;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.prclicked {
    color: yellow;
    border-bottom: 1px solid black;
}

.plist li:hover, .wlist li:hover {
    cursor: pointer;
}

.plist > li:before, .wlist > li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -o-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -moz-transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.plist li:hover:before, .wlist li:hover:before {
    visibility: visible;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -moz-transform: scaleX(1);
}

.pwrapper, .wwrapper {
    float: right;
    right: 0;
    position: relative;
    width: 75vw;
    height: 100%;
    display: none;
}

.project {
    height: 50%;
    width: 100%;
    position: absolute;  
    top: 0;
    bottom: 25%;
    margin: auto;
}

.project a {
    color: white;
    text-decoration: none;
}

.project a:hover {
    text-decoration: line-through;
}

.pdesc, .wdesc {
    float: left;
    width: 34.5%;
    height: 100%;
    font-family: 'IM Fell English', serif;
    color: white;
    text-align: center;
}

.imgdiv {
    position: relative;
    float: right;
    height: 100%;
    width: 65%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

.imgdiv img {
    position: absolute;
    max-width: 90%;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 10px 10px black;
}

/* CONTACT PAGE */

#contact {
    background: url(../img/house.JPG) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    position: relative;
}

#cbottom {
    height: 60%;
    width: 100%;
    background: rgba(223, 223, 225, 0.7);
    bottom: 0;
    position: absolute;
    text-align: center;
}

#cbottom h1 {
    letter-spacing: 5px;
    padding: 1em;
    position: relative;
    width: 100%;
}

#cbottom h1:before {
    content: "";
    height: 100%;
    width: 10%;
    position: absolute;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

#cbottom table {
    width: 50%;
    height: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#cbottom table a {
    text-decoration: none;
    color: black;
    transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
}

#cbottom table a:hover {
    text-decoration: line-through;
    color: white;
}

/* KEYFRAMES HERE */
@keyframes wobble {
    0% {
        transform: rotate(10deg);
    } 
    
    50% {
        transform: rotate(-10deg);
    }
    
    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes wobble {
    0% {
        transform: rotate(10deg);
    } 
    
    50% {
        transform: rotate(-10deg);
    }
    
    100% {
        transform: rotate(0deg);
    }
}

@-moz-keyframes wobble {
    0% {
        transform: rotate(10deg);
    } 
    
    50% {
        transform: rotate(-10deg);
    }
    
    100% {
        transform: rotate(0deg);
    }
}

@-o-keyframes wobble {
    0% {
        transform: rotate(10deg);
    } 
    
    50% {
        transform: rotate(-10deg);
    }
    
    100% {
        transform: rotate(0deg);
    }
}

@-ms-keyframes wobble {
    0% {
        transform: rotate(10deg);
    } 
    
    50% {
        transform: rotate(-10deg);
    }
    
    100% {
        transform: rotate(0deg);
    }
}

@keyframes moveclouds {
    from {
        background-position: 0 0;
    } to {
        background-position: 5000px 0;
    }
}

@-webkit-keyframes moveclouds {
    from {
        background-position: 0 0;
    } to {
        background-position: 5000px 0;
    }
}

@-moz-keyframes moveclouds {
    from {
        background-position: 0 0;
    } to {
        background-position: 5000px 0;
    }
}

@-o-keyframes moveclouds {
    from {
        background-position: 0 0;
    } to {
        background-position: 5000px 0;
    }
}

@-ms-keyframes moveclouds {
    from {
        background-position: 0 0;
    } to {
        background-position: 5000px 0;
    }
}

@keyframes movestars {
    0% {
        transform: translateX(0);
    }
    100% {
        top: 99%;
        transform: translateX(25vw);
    }
}

@-webkit-keyframes movestars {
    0% {
        transform: translateX(0);
    }
    100% {
        top: 99%;
        transform: translateX(25vw);
    }
}

@-o-keyframes movestars {
    0% {
        transform: translateX(0);
    }
    100% {
        top: 99%;
        transform: translateX(25vw);
    }
}

@-moz-keyframes movestars {
    0% {
        transform: translateX(0);
    }
    100% {
        top: 99%;
        transform: translateX(25vw);
    }
}

@-ms-keyframes movestars {
    0% {
        transform: translateX(0);
    }
    100% {
        top: 99%;
        transform: translateX(25vw);
    }
}

@keyframes flash {
    0% {
        color: rgba(255, 255, 255, 1);
    } 100% {
        color: rgba(255, 255, 255, 0.5);
    }
}

@-webkit-keyframes flash {
    0% {
        color: rgba(255, 255, 255, 1);
    } 100% {
        color: rgba(255, 255, 255, 0.5);
    }
}

@-moz-keyframes flash {
    0% {
        color: rgba(255, 255, 255, 1);
    } 100% {
        color: rgba(255, 255, 255, 0.5);
    }
}

@-o-keyframes flash {
    0% {
        color: rgba(255, 255, 255, 1);
    } 100% {
        color: rgba(255, 255, 255, 0.5);
    }
}

@-ms-keyframes flash {
    0% {
        color: rgba(255, 255, 255, 1);
    } 100% {
        color: rgba(255, 255, 255, 0.5);
    }
}

@keyframes bounce {
    25% {
        transform: translateY(-10px);
    }
    
    50% {
        transform: translateY(0);
    }
    
    75% {
        transform: translateY(-5px);
    }
    
    100% {
        transform: translateY(0);
    }
}

@keyframes spin {
    100% {
        transform: rotate(90deg);
    }
}

@-webkit-keyframes spin {
    100% {
        transform: rotate(90deg);
    }
}

@-moz-keyframes spin {
    100% {
        transform: rotate(90deg);
    }
}

@-ms-keyframes spin {
    100% {
        transform: rotate(90deg);
    }
}

@-o-keyframes spin {
    100% {
        transform: rotate(90deg);
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    } 
    
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    } 
    
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes flash {
    0% {
        opacity: 1;
    } 
    
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes flash {
    0% {
        opacity: 1;
    } 
    
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes flash {
    0% {
        opacity: 0.4;
    } 
    
    100% {
        opacity: 1;
    }
}

